{% load crispy_forms_tags %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Registration</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Event Register Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="static/css1/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="static/css1/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<!-- //css files -->
<!-- js -->
<script type="text/javascript" src="static/js1/jquery-2.1.4.min.js"></script>
<!-- //js -->
</head>
<body>
<script src="static/js1/jquery.vide.min.js"></script>
<!-- main -->
<div data-vide-bg="static/video1/Ipad">
<div class="center-container">
<div class="w3ls-header">
	<div class="header-main">
		<h1>Users Register Form</h1>
			<div class="header-bottom">
				<div class="header-right w3agile">
					<div class="header-left-bottom agileinfo">
						<form action="#" method="POST" style="color: white;">
                            {% csrf_token %}
                            {{user_form|crispy}}{{profile_form|crispy}}
							<div class="bottom">
								<input type="submit" value="Register" />
							</div>
					</form>	
					
					<div class="header-social wthree">
							
					</div>  
					</div>
				</div>
			</div>
	</div>
</div>
<!--header end here-->
	<!-- copyright start here -->
	<div class="copyright">
		
	</div>
	<!--copyright end here-->
</div>
</div>
</body>
</html>